@font-face {
  font-family: Fontin;
  src: url(fonts/Fontin-Regular.ttf);
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	/*display: grid;*/
	/*grid-template-rows: auto 1fr auto;*/
	display: flex;
	flex-direction: column;

	background-color: #0F0F0F;

	font-family: Fontin, serif;
}

header {
	text-align: center;
	color: khaki;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	min-height: 800px;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

a.button {
	color: yellow;
	text-decoration: none;
	text-align: center;

	padding: 10px;

	font-size: 2em;
	font-family: Fontin, serif;

	background: rgb(39,189,0);
	background: linear-gradient(
		180deg,
		rgba(39,189,0,1) 0%,
		rgba(15,73,	0,1) 15%,
		rgba(6,	28,	0,1) 50%,
		rgba(15,73,	0,1) 85%,
		rgba(39,189,0,1) 100%
	);
}

a.button.category:hover {
	text-shadow: 2px 2px 5px yellow;
	background: rgb(39,189,0);
	background: linear-gradient(
		180deg,
		rgba(39,189,0,1) 0%,
		rgba(15,73,0,1) 30%,
		rgba(6,28,0,1) 50%,
		rgba(15,73,0,1) 70%,
		rgba(39,189,0,1) 100%
	);
}

a.button.category {
	min-width: 90vw;
}

.list-item {
	background-color: #202020;
	color: khaki;
	min-width: 80vw;
	max-width: 80vw;
	padding: 5px 30px 5px 30px;
	margin: 10px 0px;
}
